<main>
    <% Post.all.order(created_at: :desc).each do |post| %>
    <article>
      <h3><%= post.title %></h3>
      <%= CGI.unescapeHTML(post.body).html_safe %>
      <hr />
    </article>
    <% end %>
</main>
