<main>
  <div class="w">
    <% col_count = 1 %>
    <% Post.all.order(created_at: :desc).each do |post| %>
      <% if col_count == 1 %>
      <section>
      <% end %>
        <div>
          <h3><%= post.title %></h3>
          <%= CGI.unescapeHTML(post.body).truncate_words(85).html_safe %>
          <hr />
        </div>
      <% if col_count == 2 %>
    </section>
      <% end %>
      <% col_count = (col_count == 1) ? 2 : 1 %>
    <% end %>
  </div>
</main>



<!-- <main>
    <% Post.all.order(created_at: :desc).each do |post| %>
    <article>
      <h3><%= post.title %></h3>
      <%= CGI.unescapeHTML(post.body).html_safe %>
      <hr />
    </article>
    <% end %>
</main> -->
