<h3>
    <%= @user.name %>, you got some 'splaining to do!
</h3>
<p>
    Just kidding. You signed up successfully!
</p>
<p>
    <em>Way to go bud!</em>
</p>
<p>
    (And thanks for putting up with the bullshit our marketing team approves!)
</p>
<p>
    Instead of forgetting us now like usual, <%= link_to 'visit us', 'https://headcanon.herokuapp.com/' %>!
</p>
