@mixin align-fully-centered {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

$sans-serif-stack: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;

.drowning-in-a-pre-raphaelite-sea {
  background-color: #395863;
}
.subtly-pretentious-khaki-shorts {
  background-color: #887c4e;
}
.kalamata-olive-juice-on-a-paper-plate {
  background-color: #7a6364;
}
.a-gentle-wednesday-poo {
  background-color: #685439;
}
