#site-header {
    #banner {
        z-index: -100;
        position: fixed;
        width: 100%;
        left: 0;
    }

    #banner-spacer {
        z-index: -50;
        visibility: hidden;
    }

    h1 {
        z-index: -1;
        position: fixed;
        // position: absolute;
        width: 100%;
        margin-top: 15vw;
        color: white;
        font-size: 6vh;
        text-align: center;
        text-shadow: 0 0 0.5em black;

        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
        }
    }
}
