#sidebar-inner {
    img {
        width: 100%;
    }

    h3 {
        color: #7a6364;
        text-align: center;
    }

    h4 {
        text-align: center;
        padding-top: 50px;
    }

    p {
        text-align: justify;
    }
}
