<section id="site-core" class="column">
    <div class="row center-block">
      <main id="content" class="col-lg-6 col-lg-offset-2">

        <%= yield %>

      </main>
      <aside id="sidebar" class="col-lg-2">

        <%= render partial: 'sidebar' %>

      </aside>
    </div>
    <%= render partial: 'popular' %>
</section>
